body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
table{
         padding:5px 5px 5px 5px;
         font-size:12px;
         background-color:#fff;}
table.t1{
         padding:5px 5px 5px 5px;
         font-size:12px;
         border-left:1px solid #000;
         border-top:1px solid #000;
         background-color:#fff;}

table.t1 td {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #fff;
	padding: 12px 6px 12px 6px;
	color: #000;
	text-align:center;
}
table.t2{
         padding:5px 5px 5px 5px;
         font-size:12px;
         border-left:1px solid #000;
         border-top:1px solid #000;
         background-color:#fff;}

table.t2 td {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #fff;
	padding: 3px 1px 2px 1px;
	color: #000;
	text-align:center;
}
.px20{
        font-weight:bold;
        font-family:ו,Verdana,Arial;
        font-size: 20px; 
}
.px14{
        font-family:ו,Verdana,Arial;
        font-size: 14px; 
}
.noprint{
        margin:4px;
        height:24px;   
        border:thick dashed 1px #999; 
        font-family:ו,Verdana,Arial;
        font-size: 12px; 
        color:#999;
} 