*{margin:0px; padding:0px; color:#2f2d2d;}
body{background-color:#fff;margin:0;padding:0; font-family:"宋体"; font-size:14px; line-height:24px;}
.clear{clear:both;}
.border{border:solid 1px #ccc;}
.right{ float:right;}
.gray{color:#797878;} .red{color:#FF0000;}
 h4{  font-size:16px; margin-left: 8px ;}
#maincontent  .more{float:right; margin:0px 8px 0px 0px!important; margin:8px 8px 0px 0px;font-size:12px; }
#maincontent  a{ text-decoration:none; color:#1852c7; }
/*----- Start Logo -----*/
#logoline {margin-top:0px;height:100px; }
#logolinecontent {background:#ffffff;height:100px; width:960px; margin:0px auto;}
#logo {width:211px;height:95px; float:left; background:url(images/12396logo.jpg);}
/*分页的代码*/
.pagination{
margin:2px;
float:right;
}

.pagination ul{
margin: 0;
padding: 0;
text-align: left; /*Set to "right" to right align pagination interface*/
font-size: 12px;
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
}

.pagination a, .pagination a:visited{
padding: 0 5px;
border: 1px solid #9aafe5;
text-decoration: none; 
color: #2e6ab1;
}

.pagination a:hover, .pagination a:active{
border: 1px solid #2b66a5;
color: #000;
background-color: lightyellow;
}

.pagination li.currentpage{
font-weight: bold;
padding: 0 5px;
border: 1px solid navy;
background-color: #2e6ab1;
color: #FFF;
}

.pagination li.disablepage{
padding: 0 5px;
border: 1px solid #929292;
color: #929292;
}

.pagination li.nextpage{
font-weight: bold;
}

* html .pagination li.currentpage, * html .pagination li.disablepage{ /*IE 6 and below. Adjust non linked LIs slightly to account for bugs*/
margin-right: 5px;
padding-right: 0;
}
/*end分页的代码*/
/*----- Ende Logo -----*/

/*-----logoheader-----新增*/
#logoline #logoheader{float:right;width:580px;}
#logoline #logoheader .input{width:80px; border:solid 1px #ccc;}
#logoline #logoheader #logoheadercontent{ height:25px;text-align:right; font-size:12px;}
#logoline #search{ width:680px; height:30px; margin:20px 28px 0px 0px; float:right;}
#logoline #search #option{float:left; margin:6px 0px 0px 6px; position:absolute; }
/*start search*/
#search #green_l{background:url(images/green-le.gif) no-repeat; width:6px; height:30px; float:left;}
#search #green{background:url(images/green.gif); width:560px;height:32px;float:left;}
#search #green_r{background:url(images/green_r.gif) no-repeat; width:6px; height:30px; float:left;}
/*end search*/
/*-----logoheader-----*/
/*----- Start Dolphin Navigation -----*/
#dolphinnav{width:960px; position:left; height:33px; font-size:14px; background:#fff url(images/menu/bg_blue.jpg) repeat-x bottom left; padding:0px; margin:0px auto;}
#dolphinnav ul{margin:0 16px; padding:0; list-style-type:none; width:auto; float:left;}
#dolphinnav ul li{display:block; float:left; }
#dolphinnav ul li a{display:block; float:left; color:#EAF3F8; text-decoration:none; padding:0 0 0 15px; height:33px;}
#dolphinnav ul li a span{padding:12px 15px 0 0;height:21px; line-height:17px;float:left;color:#FFFFFF;}
#dolphinnav ul li a:hover{color:#fff; background:transparent url(images/menu/dolphin_bg-OVER.gif) repeat-x bottom left;}
#dolphinnav ul li a:hover span{display:block;  cursor:pointer;}
#dolphinnav ul li a.current,#dolphinnav ul li a.current:hover{color:#fff; background:#1D6893 url(images/menu/dolphin_left-ON.gif) no-repeat top left; line-height:225%;}
#dolphinnav ul li a.current span{display:block; padding:0 15px 0 0; width:auto; background:#1D6893 url(images/menu/dolphin_right-ON.gif) no-repeat top right; height:33px;}
/*----- END Dolphin Navigation -----*/
/* start maincontent*/
#maincontent {width:960px; margin:0px auto;}
#maincontent a{cursor:pointer;}
#maincontent ul li{list-style:none; line-height:24px; font-size:14px;}
#maincontent #top {width:960px; height:448px; margin-top:10px; }
#map,#expertonline,#putquestion{ float:left; border:solid 1px #4db7e6;}
#map,#expertonline,#putquestion #whatquestion{width:258px; float:left;}
#maincontent #top #map{width:716px;height:448px;margin-right:10px; background:url(images/map.gif) no-repeat top left;}
#maincontent  #expertonline{width:230px; height:448px;}
#maincontent #expertonline_span,#maincontent  #putquestion #putquestion_span{border-bottom:solid 1px #4db7e6;height:24px;}
#maincontent #expertonline .expertname{width:70px; float:left;}
#maincontent  #expertonline .major{width:90px; float:left;font-size:13px;}
#maincontent  #expertonline .address{width:40px; float:right;font-size:13px;}
/*-----------left---------------*/
#maincontent  ul{ margin:4px 8px 0px 8px;}
#maincontent #left{width:718px!important;width:718px;}
#maincontent #left #putquestion{width:354px; height:205px; margin:10px 10px 0px 0px;}
#maincontent #left #putquestion .time{float:right;font-size:13px; }
#maincontent #left #commonquestion{width:350px; height:205px; margin-top:10px;}
#maincontent #left #supply{width:355px;margin:10px 10px 0px 0px;height:188px; }
#maincontent #left #supply #supply_title{width:355px;height:22px;}
#maincontent #left #supply #supply_content{width:355px;height:166px;border:solid 1px #ccc; margin-top:-3px;}
#maincontent #left #supply #supply_content li span{display:block;float:left;}
#maincontent #left #supply #supply_content li .info{width:180px; }
#maincontent #left #supply #supply_content li .name{ width:70px;}
#maincontent #left #supply #supply_content li .date{width:85px; text-align:right;}
#supply_title div{float:left; display:block;height:22px;}
#maincontent #left #supply #supply_title #goods_supply{ border:solid 1px #ccc; border-bottom:none;  width:100px;}
#maincontent #left #supply #supply_title #goods_needs{ border:solid 1px #ccc; width:100px;}
#maincontent #left #supply #supply_title #supply_line{ border-bottom:solid 1px #ccc; width:151px;}
#maincontent #left #supply #supply_content{width:355px;height:166px;border:solid 1px #ccc; border-top:none;}
#maincontent #left #supply #supply_content ul{ padding-top:8px;}

#maincontent #left #blog{width:351px!important;width:349px;height:188px!important;height:197px;margin-top:10px;}
#maincontent #left #blog .blog_left,#maincontent #left #blog .page_right{width:161px;float:left; display:block;}
#maincontent #left #expertlist{width:353px;height:221px;margin:10px 10px 0 0; }
#maincontent #left #expertlist ul li .name{ width:70px; display:block; float:left; font-size:14px;}
#maincontent #left #expertlist ul li{ font-size:13px;}
#maincontent #left #expertlist .expertweight{width:167px; float:left;display:block; }
#maincontent #left #mark{width:350px!important; width:350px;height:221px;margin-top:10px; float:left;}
#maincontent #left #mark ul {font-size:13px;width:335px;}
#maincontent #left #mark ul li span{display:block;width:66px; float:left; }

#maincontent #left #catelog{width:716px;height:203px;margin-top:10px;} 

#maincontent #left #catelog .cate{width:358px;float:left;} 
#maincontent #left #catelog .cate ul{ margin:8px 0px 0px 8px; font-size:13px;}
#maincontent #left #catelog .cate ul .littlecate{width:75px; float:left;}
#maincontent #left #catelog .cate .bigcate{font-size:14px; font-weight:bold; float:left;}
#left,#putquestion,#commonquestion,#supply,#blog,#expertlist,#mark,#catelog,#maincontent #right #group #group_span{float:left;}


/*end left*/
/*right*/
#maincontent #right{width:230px;float:left; margin:10px 0px 0px 10px; }
#maincontent  #group{width:230px; height:405px; float:left; }  /* 7px; ie*/
#maincontent #right ul li{ width:71px; float:left; display:block;}
 #flash,#email,#weather{ display:block;}
#maincontent #right #flash{ background:url(images/flash.gif);float:left; width:232px; height:72px; margin-top:10px;}
#maincontent #right #email{ background:url(images/email.gif);float:left; width:232px; height:72px; margin-top:5px;}
#maincontent #right #message{ background:url(images/message.gif);float:left; width:232px; height:70px; margin-top:5px;}
#maincontent #right  #weather{width:230px; height:201px; margin-top:10px; font-size:13px; border:solid 1px #ccc; float:left}
#maincontent #right  #weather #add{margin:8px 8px 0px 58px;}
#maincontent #right  #weather #weather1,#maincontent #right  #weather #weather2{width:76px;height:112px;float:left;margin-top:5px;}
#maincontent #right  #weather #weather1{margin-left:38px!important;margin-left:30px;}

/*end right*/
#foot{width:960px; height:33px!important; height:20px;background:#8abd3c;margin:0px auto; margin-top:10px;}
#foot #link{margin:0px auto;color:#FFFFFF;width:780px; padding-top:3px;}
#foot #link h4{ float:left;}
 #copyright{font-size:12px;margin:0px auto; width:512px; height:30px; margin-top:10px;}
/* end maincontent*/



/*------------------------------专家首页-------------------------------------------*/
#logoline #logolinecontent .down{margin-top:50px;}   /*使得专家系统的搜索框区别于首页的搜索框 下调50px*/
#maincontent  #littlenav{width:960px;height:28px;border:solid 1px #ccc; margin-top:10px; color:#1852c7;font-size:14px; line-height:28px;}
#maincontent  #littlenav #littlenavi{display:block;padding-left:8px;}
#maincontent #expert_left{width:260px; margin:10px 10px 0px 0px; float:left;}
#maincontent #expert_left .expert_left{width:260px;border:#ccc solid 1px; margin-bottom:10px;}
#maincontent .title{border-bottom:solid 1px #ccc; font-size:16px;color:#2f2d2d; height:24px!important; display:block;}

/*专家信息*/
.expertphoto{border:solid 1px #ccc; margin:8px 8px 0px 8px; width:108px;height:90px; display:block; float:left;}
#maincontent #expert_left #expert_info1{width:134px !important;width:126px;float:left;margin-top: 3px;}
#maincontent #expert_left #expert_info2{ margin-left:8px; }

#maincontent #expert_left #expert_info #expert_info2 .ex_group{ display:block;width:82px; height:24px; float:left;}  
#maincontent #expert_left #expert_info #expert_info2 #hisgroup{float: left;}
/*end专家信息*/

/*地图*/
#maincontent #littlemap{height:260px;}
/*end地图*/

/*热门博客*/
#maincontent #expert_left #expert_left_blog ul{ margin:8px;}
/*end热门博客*/

/*相关专家*/
#maincontent #expert_left #expert_left_expert{margin-bottom:0px;}
#maincontent  .expert{width:73px!important;height:80px;float:left; display:block; padding-left:8px; margin-bottom:6px; }
#maincontent  .exper_pic{width:60px;height:60px; border:solid 1px #ccc;margin:0px auto; display:block;}
#maincontent  .expert .exper_pic img{width:60px;height:60px;}
#maincontent .expert .expert_name{ text-align:center; line-height:24px;display:block;}
/*end相关专家*/


/*right*/
#maincontent #expert_right{width:690px!important;width:688px; margin-top:10px; float:left;}
#maincontent #expert_right #question{ width:690px!important;width:686px; border:solid 1px #4db7e6; height:210px; background:#f9f9f9; }
#maincontent #expert_right #question h4{ margin-bottom:18px;}
#maincontent #expert_right #question span{ margin-left:8px; vertical-align:top;}
#maincontent #expert_right #question #questiontitle{ width:588px; height:20px!important;padding-top:6px!important; padding-top:0px;height:24px;line-height:24px; font-size:14px; margin-top:-5px; }
#maincontent #expert_right #question #description{width:588px; height:80px;font-size:14px; line-height:24px;}
#maincontent #expert_right #question #qu_description{ margin-top:10px;}
#maincontent #expert_right #question #seachqustion{ float:right; margin:10px 20px 0px 0px!important;margin:10px 8px 0px 0px;}
/*---------已处理问题和待处理问题-------*/
#maincontent #expert_right #ex_ques_title{width:690px!important;width:686px; height:24px; margin-top:10px;}
#maincontent #expert_right #ex_ques_title #solved{width:160px;height:24px; background-image:url(images/yes.gif);background-position:5px 3px;background-repeat:no-repeat; border:solid 1px #ccc; border-bottom:none;float:left;}
#maincontent #expert_right #ex_ques_title #solved h4,#unsolved h4{padding-left:20px;}
#maincontent #expert_right #ex_ques_title #unsolved{width:160px;height:24px;border:solid 1px #ccc;background:#f9f9f9; background-image:url(images/wenhao.gif) ; background-position:5px 3px; background-repeat:no-repeat;float:left;}
#maincontent #expert_right #ex_ques_line{width:366px!important;width:360px;border-bottom:solid 1px #ccc; display:block;float:left;}
#maincontent #expert_right #ex_ques_content{ margin-top:-1px!important;margin-top:-8px;width:690px!important;width:686px;border:solid 1px #cccccc; float:left; border-top:none;}
#maincontent .expert_title span{display: block;float: left; height:24px; text-align:center;  color:#797878;}   /*390+120+174*/
#maincontent #expert_right #ex_ques_content ul li span{display: block;float: left;}
#maincontent .question_title{width: 390px;}
#maincontent .answer_no{width:120px;text-align: center;}
#maincontent  .question_time{width: 160px!important;width: 156px;text-align: center; }
#maincontent #expert_right #ex_ques_content ul{width: 676px!important;width: 670px;margin-left:8px;}

/*--------end已处理问题和待处理------问题*/
/*---某某某的博客-------*/
#maincontent #expert_right #expert_right_blog{width:690px!important;width:686px; border:solid 1px #ccc;float:left; margin:10px 0px 0px 0px;}
#maincontent #expert_right #expert_right_blog .e_r_b_title{width:240px;}
#maincontent #expert_right #expert_right_blog .e_r_b_cat{width:158px;}
#maincontent #expert_right #expert_right_blog .e_r_b_count{width:112px;}
#maincontent #expert_right #expert_right_blog #e_r_b_content{margin:0px 0 8px 8px;}
#maincontent #expert_right #expert_right_blog #e_r_b_content span{color:#2f2d2d; }
#maincontent #expert_right #expert_right_blog #e_r_b_content li {line-height:24px;float:left; }
#maincontent #expert_right #expert_right_blog #e_r_b_content li .e_r_b_title{ text-align:left;}

/*--end某某某的博客-----*/
/*--lin expert某某某的博客-----*/
#maincontent #lexpert_right{width:688px!important;width:686px; margin-top:10px; float:left;border:#CCCCCC 1px solid;pading-bottom:10px;}
#maincontent .lltitle{ font-size:16px;color:#2f2d2d; height:20px!important; display:block;}
#maincontent #blog_cate{float:right;margin-top:-20px;margin-right:20px;}
#maincontent #lexpert_right .blog_title{font-size:15px;font-weight:bold;float:left;margin-top:10px;display:block;margin-left:10px}
#maincontent #lexpert_right .blog_title .blog_time{margin-left:5px;color:#666666;}
#maincontent #lexpert_right .blog_content{display:block;float:left;margin:5px;text-indent:2em}
#maincontent #lexpert_right .blog_more{display:block;float:left;float:left;margin-left:5px;margin-top:5px;}
#maincontent #lexpert_right .blog_more .catetitle{margin-left:300px;}
#maincontent #lexpert_right .lexpertblog{border-bottom:#CCCCCC 1px solid;float:left;display:block;margin:2px 0px;}

/*-- end  lin expert某某某的博客-----*/
/*-----------留言板-----------------*/
#maincontent #expert_right #expert_right_message{width:690px!important;width:686px; border:solid 1px #ccc;float:left; margin:10px 0px 0px 0px;}
#maincontent #expert_right #expert_right_message .message_content{ margin:8px;}
#maincontent #expert_right #expert_right_message #message_pic{ background:url(images/message.png) no-repeat ; background-position:8px 5px; width:25px; height:20px; display:block; float:left;}
.eachmessage{width:670px;border-bottom: dotted 1px #ccc;}
.reply{ float:right; font-size:13px;}
.sb_reply{ border:solid 1px #ccc; margin:8px 20px; width:648px!important; width:608px;float:left;}

/*-----------end留言板-----------------*/
/* end right*/
/*---------------------------end专家首页-------------------------------------------*/
/*---------------------------------------------问答系统首页----------------------------*/
#maincontent #ask_left{
	width: 716px;
	float: left;
	margin: 10px 10px 0 0;
	
}

#maincontent #ask_left #question_cat{
	border: solid 1px #4db7e6;
	width: 716px;
}
#maincontent #ask_left #question_cat #question_cat_span{
	width: 716px;
	height:30px;
	border-bottom: solid 1px #4db7e6;
}
#maincontent #ask_left #question_cat #question_cat_span b{ font-size:16px; margin-left:8px;}
#maincontent #ask_right{
	width: 230px;
	float: left;
	margin-top: 10px;
}
#maincontent #ask_left #question_cat ul li{ display:block; float:left;width:80px; }
#by_addr,#by_major,#by_keyword{width:700px; margin:10px auto;}
#maincontent #ask_left #excellet,#newst {
	width:716px;
	margin-top: 10px;
	
}
#maincontent #ask_left #excellet ul span{display:block; float:left;width:340px; }
#maincontent #ask_left #excellet .excellet_r{
	float: right;
 }
#unsolved_question,#solved_question{ margin-top:10px;}
/*----------------------------------------end问答系统首页----------------------------*/

/*-------------------------------问答系统待处理问题页面---------------------------------*/
#maincontent #question_content{width:960px!important; width:958px;margin:0px auto; border:solid 1px #4db7e6; margin:10px 0 10px 0;}
#maincontent #question_content .title .picture{  background-repeat:no-repeat; background-position:8px 2px;width:30px;height:30px;float:left; display:block}
#maincontent #question_content .title #wenhao{background-image:url(images/wenhao.gif);}
#maincontent #question_content #blue{border-bottom:solid 1px #4db7e6;}
#maincontent .detail{margin:8px;}
#maincontent #question_content .detail input{ margin:10px auto;}
#maincontent #reply_content{
	width:960px!important;
	width:958px;
	height: 100px;	
}
#maincontent #reply_content #myanswer{width:638px; height:80px;font-size:14px; line-height:24px;float:left;}
#maincontent #reply_content span{ display:block; margin-left:60px; float:left; }
/*----------------------------end问答系统待处理问题页面---------------------------------*/
/*--------------------------问答系统问题搜索后结果页面2-1-2--------------------------------*/
#maincontent .askquestiion{width:960px!important; width:958px; height:100px;margin:0px auto; border:solid 1px #4db7e6; margin:10px 0 0px 0; background:#f9f9f9;}
#maincontent .askquestiion #searchbar{width:588px; height:24px; margin:20px auto; display:block; line-height:24px; }
#maincontent .askquestiion div{ padding-left:620px;}
#maincontent .searchresult{width:960px!important; width:958px; border-top:none;}

#result_list{width:900px!important;width:808px; margin:0px 30px!important; margin-left:70px;}
#result_list .result_title{width:900px!important;width:808px; border-bottom:solid 1px #ccc;}
.searchresult span{display:block;float:left;text-align:center;	}
.searchresult ul li .question_title{text-align:left;}
.status{width:120px;}
.number{width:120px;}
.update_time{width:250px!important;width:150px;}

/*-----------------------end问答系统问题搜索后结果页面2-1-2--------------------------------*/
/*-----------博客首页—----------------------------------------------------------------*/
#maincontent #blog_right #expertonline{ margin:10px 0px 0px 10px;}
#maincontent #blog_right #group{ margin-left:10px;} 
#maincontent #blog_right #group ul li {  float:left; display:block;width:71px; }
#maincontent #left #hot_blog{
	margin:10px 0px;
	border: solid 1px #4db7e6;
}
#maincontent #left #hot_blog .title{border-bottom: solid 1px #4db7e6;}
#maincontent #left #new_blog,#hot_blog{
	width: 716px;
	height:300px;
	height: 330px!important;
}
#maincontent #left .blog_expert_pic{
	width: 108px;
	height: 90px;
	margin: 8px;
	border: solid 1px #ccc;
	float:left;
}

#maincontent #left .intr_blog{
	width: 572px;
	height: 93px;
	float: left;
	margin-top: 8px;
}
.hot_blog_blog{
	width: 238px;
	line-height:24px;
	float:left;
}
#maincontent #left .intr_blog .gray{ font-size:13px; display:block;}
#maincontent #left #blog_daren{
	width: 716px;
	height: 182px;
	margin-top: 10px;
}
#maincontent  .group{width:230px; height:300px; float:left; margin:10px 0px 0px 10px; } 
#maincontent  .group .expert{width:63px!important;height:80px;float:left; display:block; padding-left:8px; margin-bottom:6px; }
#maincontent  .group .exper_pic{width:60px;height:60px; border:solid 1px #ccc;margin:0px auto; display:block;}
#maincontent  .group .expert .exper_pic img{width:60px;height:60px;}
#maincontent .group .expert .expert_name{ text-align:center; line-height:24px;display:block;}
/*-----------end博客首页—----------------------------------------------------------------*/

/*----------------------------------------每个群组的首页----------------------------------*/
#maincontent #eachgroupleft{width:716px!important;width:716px; float:left; margin-top:10px;}
#maincontent #eachgroupleft #eachgroup_title{
	width: 700px;
	margin:8px auto;
}
#maincontent #eachgroupleft #eachgroup_title span,#maincontent #eachgroupleft ul li span{
	display: block;
	float:left;
	text-align:center;	
}
#maincontent #eachgroupleft #eachgroup_title span{color:#797878;}
#maincontent #eachgroupleft  .topic{
	width: 300px;
}
#maincontent #eachgroupleft .topic_man{
	width: 100px;
}
#maincontent #eachgroupleft  .topic_reply{width: 100px;}
#maincontent #eachgroupleft .last_reply{width: 195px;}
#maincontent #eachgroupleft #say{
	width: 600px;
	left: 350px;
	
	float:left;
    margin-left:60px!important;
	margin-left:30px;
	
}
#maincontent #eachgroupleft #say #group_saycontent{
	width: 500px;
	height: 320px;
	background-color: #CCCC33;
	margin-left: 40px;
	margin-top:-15px;	
}
#simple_intr{
	width: 214px;
	height: 142px!important;
	height: 138px;
	margin-left:8px;
	background:#f7fbff;
}

/*-------------------------------------end每个群组的首页----------------------------------*/


/*-------------------------------lin问答系统最佳答案页面---------------------------------*/
#maincontent #lbestanswere{width:960px!important; width:958px;margin:0px auto; border:solid 1px #FF99CC; margin:10px 0 0px 0;float:left;}
#maincontent #lbestanswere #pink{border-bottom:#FF99CC 1px solid;}
#maincontent #lbzestanswere .title .picture{background-repeat:no-repeat; background-position:8px 2px;width:30px;height:30px;float:left; display:block}
#maincontent #lbestanswere .title #flag{background-image:url(images/flag.jpg);}
#maincontent .lanswere{margin:8px;width:900px;float:left;}
#maincontent .lrespondents{float:left;margin-left:600px!important;margin-left:300px;}
#maincontent .lrespondents .respondenttime{margin-left:6px!important;margin-left:3px;}
#maincontent #lbestanswere .lwantanswere{float:left;margin-left:600px!important;margin-left:300px;display:block}
#maincontent #llastanswere{width:960px!important;width:958px;margin:0px auto;border:solid 1px #CCCCCC ;margin:10px 0 0px 0;float:left;}
#maincontent  #llastanswere #huise{border-bottom:#CCCCCC 1px solid;}
#maincontent #llastanswere .title .picture{background-repeat:no-repeat; background-position:8px 2px;width:30px;height:30px;float:left; display:block}
#maincontent #llastanswere .title #soon{background-image:url(images/soon.jpg);}
#maincontent .llinedot{border-top:1px dashed #CCCCCC;float:left;margin-top:10px;width:950px;height:2px;}




/*----------------------------------------lin 个人中心页面----------------------------*/
* html #maincontent #lpersonnalleft{  }
#maincontent #lpersonnalleft{width:260px!important;width:262px;height:auto;margin:10px 10px 0px 0px;float:left;border:#ccc solid 1px;padding:0px 0px 10px;}
#maincontent #lpersonnalleft .lpersonnal_leftbox{margin-top:10px;width:260px!important;width:262px;float:left;}
#maincontent #lpersonnalleft .lpersonnal_leftbox .lleftbox_title{border-top:#4db7e6 1px solid;border-bottom:#4db7e6 1px solid;height:30px;display:block; text-align:center;}
#maincontent #lpersonnalleft .lpersonnal_leftbox .lleft_option{margin:0px 30px!important;margin:0px 15px;width:200px;border:#ccc solid 1px;border-top:none;float:left;text-align:center}
/*---------------------------------------个人中心页面左边结束----------------------------*/
#maincontent #lpersonnalright{width:686px!important;width:684px; margin-top:10px;float:left;border:solid 1px #ccc;padding:0px 0px 10px;}
#maincontent #lpersonnalright .lright_title{padding-left:20px;width:666px!important;width:660px;background-color:#F9F9F9;height:25px;margin-top:10px;float:left;}
#maincontent #lpersonnalright .lpersonnal_information{padding-left:25px;width:666px!important;width:650px; }
#maincontent #lpersonnalright .info_box{float:left;width:660px!important;width:650px;margin-top:5px;}
#maincontent #lpersonnalright .info_box .linputtile{width:150px;display:block;float:left;}
#maincontent #lpersonnalright .info_box .linput{float:left;display:block;}
/*----------------------------------------lin 个人中心右边结束----------------------------*/


/*----------------------------------------lin 个人中心密码修改页面----------------------------*/
#maincontent #lpersonnalright #lchangepassword{padding-left:25px;width:666px!important;width:659px;margin-top:10px;font-weight:bold;font-size:12px;}
#maincontent #lpersonnalright #lchangepassword .lpwd_title{width:666px!important;width:658px;float:left;display:block;}
#maincontent #lpersonnalright #lchangepassword  .lpwd_title .greyfont{font-weight:100;margin-left:10px;}
#maincontent #lpersonnalright #lchangepassword .lpwdinput{background:#f9f9f9;float:left;display:block}
#maincontent #lpersonnalright #lchangepassword #lgrey{width:200px;float:left;background:#CCCCCC;height:15px;margin-top:5px;}


/*----------------------------------------lin 个人中心头像修改页面----------------------------*/
#maincontent #lpersonnalright #lchangepicture{padding-left:25px;width:666px!important;width:659px;margin-top:10px;}
#maincontent #lpersonnalright #lchangepicture #lnowpicture{width:100px;height:90px;}
#maincontent #lpersonnalright #lchangepicture #lnowpicture img{width:100px;height:90px;}
#maincontent #lpersonnalright #lchangepicture #lpicnotice{margin:10px 0px;}
#maincontent #lpersonnalright #lchangepicture #uploadpic{width:600px;margin:0px 5px ;border:#CCCCCC 1px solid;height:50px;padding-top:20px;}


/*----------------------------------------lin 个人中心已回答问题页面，待解决问题页面----------------------------*/
#maincontent #lpersonnalright #lansweredquestion{padding-left:25px;width:666px!important;width:659px;margin-top:10px;}
#maincontent #lpersonnalright #lansweredquestion .questionlist{width:660px!important;width:640px;float:left;text-align:center;}
#maincontent #lpersonnalright #lansweredquestion .answeredtitle{color:#666666;width:350px;float:left;}
#maincontent #lpersonnalright #lansweredquestion .answerednumber{color:#666666;float:left;width:50px;}
#maincontent #lpersonnalright #lansweredquestion .answeredtime{color:#666666;width:100px;;float:left;}
#maincontent #lpersonnalright #lansweredquestion .operation{color:#666666;width:120px;float:left;}
#maincontent #lpersonnalright .nextpage{width:320px;height:20px;float:left;background:#FFCCFF;margin-left:300px!important;margin-left:150px;margin-top:20px;}/*下一页*/


/*----------------------------------------lin 个人中心个人群组页面----------------------------*/
#maincontent #lpersonnalright #lpersonalgroup{padding-left:25px;width:666px!important;width:659px;margin-top:10px;float:left;}
#maincontent #lpersonnalright #lpersonalgroup .lgrouptitle{width:600px;float:left;}
#maincontent #lpersonnalright #lpersonalgroup .lgroupname{float:left;width;display:block;maegin-top:5px;}
#maincontent #lpersonnalright #lpersonalgroup .lgroupdecoration{display:block;float:left;}

 /*----------------------------------------lin 个人中心个人群组页面----------------------------*/
#maincontent #lpersonnalright #lpersonaltotalgroup{padding-left:25px;width:666px!important;width:659px;margin-top:10px;float:left;}
#maincontent #lpersonnalright #lpersonaltotalgroup #ltotalgrouptitle{color:#666666;}
#maincontent #lpersonnalright .lrednumber{color:#FF0000}
#maincontent #lpersonnalright #lpersonaltotalgroup .lgroup_box{width:660px!important;width:650px;float:left;margin-top:5px;height:150px;}
#maincontent #lpersonnalright #lpersonaltotalgroup .lgrouppic{width:120px;height:90px;float:left;margin-right:20px;margin-top:10px;border:#999999 1px solid;}
#maincontent #lpersonnalright #lpersonaltotalgroup .lgroupinfo{float:left;width:300px;}
#maincontent #lpersonnalright #lpersonaltotalgroup .lgrounpoperation{margin-left:20px;float:left;}




/*------------------------------------------------邓搜索首页----------------------------*/

#maincontent #dpersonnalleft{width:260px!important;width:262px;margin:10px 10px 0px 0px;float:left;border:#ccc solid 1px;height:700px;background-color:#99FF99;}
#maincontent #dpersonnalright{width:686px!important;width:684px; margin-top:10px;float:left;border:solid 1px #ccc;padding:0px 0px 10px;}
#maincontent #dpersonnalright .dtoubu{width:686px!important;width:680px;margin-top:0px;float:left;height:32px;border-color:#CCCCCC;border-style:none none solid none;border-bottom-width:1px;}
#maincontent #dpersonnalright .dtoubu #dqunzu{font-size:16px;margin:4px 0 0px 8px;}
#maincontent #dpersonnalright .dqunzu_jianjie{width:680px;height:210px;margin:0px 0px 0px 0px;float:left;}
#maincontent #lpersonnalright #dsousuo{width:660px;height:40px;margin:8px 0px 0px 5px;float:left;border:solid 1px #4DB7e6;background-color:#F9F9F9;}
#maincontent #dpersonnalright #dsousuo #dsousuo_kuang{margin:3px 0px 0px 10px;float:left;}
#maincontent #dpersonnalright #dsousuo #dsousuo_bottom{margin:3px 0px 0px 5px;float:left;}
#maincontent #dpersonnalright .dqunzu_jianjie em{color:#FF0000}
#maincontent #dpersonnalright .dqunzu_jianjie #qunzu_touxiang{width:144px;height:172px;margin:0px 0px 0px 0px;float:left;background:url(images/1.bmp) no-repeat top left;}
#maincontent #dpersonnalright .dqunzu_jianjie span{width:650px;margin-left:8px;vertical-align:top;float:left;}
#maincontent #dpersonnalright .dqunzu_jianjie .dqunzu_kuang{width:300px;height:180px;margin:3px 0px 0px 0px;float:left;}
#maincontent #dpersonnalright .wenzi_yihan .dquestion_title{margin-left:0px;float:left;color:#000000;font-size:14px;width:510px;text-align:left;line-height:24px;}
#maincontent #dpersonnalright .wenzi_yihan .dquestion_time{margin-left:0px;float:left;color:#000000;font-size:14px;width: 150px;text-align: center;line-height:24px;}
#maincontent #dpersonnalright .wenzi_yihan{width:670px!important;width:660px;float:left;height:28px;font-size:14px;line-height:24px;border-color:#CCCCCC;border-style:none none dashed none;border-bottom-width:1px;}
#maincontent #dpersonnalright #dfenye{width:680px;float:left;height:40px;background-color:#00FFFF;}
#maincontent #dpersonnalright .wenzi_yihan .dquestion_time1{margin-left:0px;float:left;color:#000000;font-size:14px;width:140px;text-align: center;line-height:28px;float:left;}



/*------------------------------------------------邓发博文----------------------------*/
#maincontent #dpersonnalright .dbolog{width:520px;float:left;height:28px;margin-left:70px!important;margin-left:40px;border-color:#CCCCCC;border-style:none none dashed none;border-bottom-width:1px;}
#maincontent #dpersonnalright .dbolog .dbolog_a{width:150px;float:left;height:28px;text-align:left;}
#maincontent #dpersonnalright .dbolog .dbolog_d{width:150px;float:left;height:28px;text-align:center;}
#maincontent #dpersonnalright .dbolog .dbolog_b{width:100px;float:left;height:28px;text-align:right;}
#maincontent #dpersonnalright .dbolog .dbolog_c{width:100px;float:left;height:28px;text-align:left;}
#maincontent #dpersonnalright .dwenzi_yihan{width:670px;float:left;height:28px;font-size:14px;line-height:24px;}
/*------------------------------------------------end邓发博文----------------------------*/


/*------------------------------------------------邓收件箱----------------------------*/
#maincontent #dpersonnalright .dwenzi_yihan1{width:600px;float:left;height:28px;font-size:14px;line-height:24px;border-color:#CCCCCC;border-style:none none solid none;border-bottom-width:1px;}
/*------------------------------------------------end邓收件箱----------------------------*/

/*------------------------------------------------邓写邮件----------------------------*/
#maincontent #dpersonnalright .dwenzi_yihan{width:670px;float:left;height:28px;font-size:14px;line-height:24px;}
#maincontent #dpersonnalright .dwenzi_yihan2{width:500px;float:left;height:28px;font-size:14px;line-height:24px;border-color:#CCCCCC;border-style:none none solid none;border-bottom-width:1px;margin-top:8px;}
#maincontent #dpersonnalright .dmessage{width:500px;float:left;height:28px;border-color:#CCCCCC;border-style:none none dashed none;border-bottom-width:1px;}
#maincontent #dpersonnalright .dmessage .dmessage_title{width:80px;float:left;height:28px;text-align:left;}
#maincontent #dpersonnalright .dmessage .dmessage_send{width:120px;float:left;height:28px;text-align:left;}
#maincontent #dpersonnalright .dmessage .dmessage_time{width:140px;float:left;height:28px;text-align:left;}
#maincontent #dpersonnalright .dmessage .dmessage_operate{width:120px;float:left;height:28px;text-align:left;}
#maincontent #dpersonnalright .dmessage1{width:500px;float:left;height:28px;border-color:#CCCCCC;border-style:none none solid none;border-bottom-width:1px;}
#maincontent #dpersonnalright .dmessage1 .dmessage_title{width:80px;float:left;height:28px;text-align:left;}
#maincontent #dpersonnalright .dmessage1 .dmessage_send{width:120px;float:left;height:28px;text-align:left;}
#maincontent #dpersonnalright .dmessage1 .dmessage_time{width:140px;float:left;height:28px;text-align:left;}
#maincontent #dpersonnalright .dmessage1 .dmessage_operate{width:120px;float:left;height:28px;text-align:left;}
#maincontent #dpersonnalright .dmessage2 {width:500px;float:left;height:28px;border-bottom-width:1px;}
#maincontent #dpersonnalright .dletter_writle{width:600px;float:left;height:400px;}
#maincontent #dpersonnalright .dletter_writle .dletter_kuang{{width:400px;float:left;height:250px;border:#ccc solid 1px;margin: -20px 0px 0px 50px;}
/*------------------------------------------------end邓写邮件----------------------------*/

